.logo {
  width: 8rem;
}

.carousel-inner img {
  margin: auto;
}

.sponsores-section {
  margin: 3rem 0;
  padding: 3rem 0;
}

.carousel-control-prev,
.carousel-control-next {
  color: var(--color-grey-dark);
  background-color: var(--color-grey-dark);
}
