:root {
  --color-primary-light: rgb(165, 196, 227);
  --color-primary: rgb(91, 154, 207);
  --color-primary-dark: rgb(58, 139, 194);

  --color-grey-light: #faf9f9;
  --color-grey-dark: #333;
}

.section {
  margin-top: 2.5rem;
  padding-top: 2.5rem;
}
