@font-face {
  font-family: simplifica;
  src: url("../font/SIMPLIFICA\ Typeface.ttf");
}

.page-header {
  padding: 2rem 0.5rem;
  border-bottom: solid 1.5px var(--color-grey-dark);
  border-top: solid 1.5px var(--color-grey-dark);
  margin: 1.5rem 1rem;
}

.secondary-header {
  font-size: 3.25rem;
  color: green;
  padding-bottom: 3rem;

  font-family: simplifica;
  font-weight: bold;
}
